label {
  font-size: 14px;
  font-weight: 700;
  line-height: 23.1px;
  display: flex;
  align-items: center;

  span {
    padding-top: 3px;
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color:#ffffff;
  border: 3px solid #000000;
  margin-right: 14px;

  &:checked {
    color: #ffffff;
    background-color: #727981;
    border: #727981;
    text-align: center;
    line-height: 1.2rem;

    &::after {
      font-family: 'flp-icon';
      content: '\e902';
    }
  }
}