.my-swiper {
  max-width: 100%;
  height: 230px;
  margin: 0 !important;

}

.swiper-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-pagination {
  height: 5px;
  margin: 0;
  &.swiper-pagination-progressbar.swiper-pagination-horizontal {
    bottom: 0;
    top: initial;
    background-color: $light-grey;
    span {
      background-color: $grey;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: 87% !important;
  &::after {
    font-size: 12px !important;
    font-weight: bold;
    color: $black;
  }
}

.swiper-button-next {
  right: 41% !important;
}
.swiper-button-prev {
  left: 41% !important;
}

.icon-heart,
.icon-heart-o {
  &:hover {
    cursor: pointer;
  }
}
